h1 {
    color: darkgreen;
    font-size: 40px;
}

h2 {
    color: darkgreen;
}

h3 {
    color: darkblue;
}

h4 {
    font-weight: bold;
}

#demo {
    font-size: 12px;
    color: darkgreen;
}

body {
    background: #f4f4f4;
    min-height: 100vh;
}

.sticky-bottom {
    position: sticky;
    top: 100vh;
    z-index: 1020;
}

.cke_editable img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.image-left {
    float: left;
    margin: 10px 20px 10px 0; /* 右側のマージンを増やし、上下にもマージンを追加 */
}

.image-center {
    display: block;
    margin: 0 auto;
}

.image-right {
    float: right;
    margin: 10px 0 10px 20px; /* 左側のマージンを増やし、上下にもマージンを追加 */
}

@media (max-width: 768px) {
    .image-left, .image-right {
        float: none;
        display: block;
        margin: 10px auto;
        max-width: 100%;
        height: auto;
    }
    .post-content img, .cke_editable img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
        margin: 10px auto; /* 上下のマージンを10pxに設定 */
    }
}

.post-content {
    max-width: 100%;
    overflow-x: hidden;
    line-height: 1.6; /* 読みやすさを向上させるために行間を追加 */
}

.post-content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .custom-padding-md-10 {
    padding-left: 10rem !important;
    padding-right: 10rem !important;
    padding-top: 7rem !important;
    }
}

/* 画像の周りのテキストの間隔を調整するためのクラス */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}