h1 {
    color: darkgreen;
    font-size: 40px;
}

h2 {
    color: darkgreen;
}

h3 {
    color: darkblue;
}

h4 {
    font-weight: bold;
}

#demo {
    font-size: 12px;
    color: darkgreen;
}

body {
    background: #f4f4f4;
    min-height: 100vh;
}

.sticky-bottom {
    position: sticky;
    top: 100vh;
    z-index: 1020;
}

.cke_editable img {
    max-width: 100% !important;
    height: auto !important;
    display: block !important;
    margin: 0 auto !important;
}

.image-left {
    float: left !important;
    margin: 10px 20px 10px 0 !important; /* 右側のマージンを増やし、上下にもマージンを追加 */
}

.image-center {
    display: block;
    margin: 0 auto;
}

.image-right {
    float: right !important;
    margin: 10px 0 10px 20px !important; /* 左側のマージンを増やし、上下にもマージンを追加 */
}

@media (max-width: 768px) {
    .image-left, .image-right {
        float: none !important;
        display: block !important;
        margin: 10px auto !important;
        max-width: 100% !important;
        height: auto !important;
    }
    .post-content img, .cke_editable img {
        max-width: 100% !important;
        height: auto !important;
        object-fit: contain !important;
        margin: 10px auto !important; /* 上下のマージンを10pxに設定 */
    }
}

.post-content {
    max-width: 100% !important;
    overflow-x: hidden !important;
    line-height: 1.6 !important; /* 読みやすさを向上させるために行間を追加 */
}

.post-content img {
    max-width: 100% !important;
    height: auto !important;
    display: block !important;
    margin: 0 auto !important;
}

@media (min-width: 768px) {
    .custom-padding-md-10 {
    padding-left: 10rem !important;
    padding-right: 10rem !important;
    padding-top: 7rem !important;
    }
}

/* 画像の周りのテキストの間隔を調整するためのクラス */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* テーブルのスタイル */
.table-responsive {
    width: 100% !important;
    overflow-x: auto !important;
    -webkit-overflow-scrolling: touch !important;
}

table {
    width: 100% !important;
    max-width: 600px !important;
    border-collapse: collapse !important;
    margin-bottom: 1rem !important;
    overflow-x: auto !important;
    -webkit-overflow-scrolling: touch !important;
}

/* ヘッダーのスタイル */
thead th {
    background-color: #f8f9fa;
    border-bottom: 1px solid #023509;
    text-align: center !important;
    padding: 0.75rem;
    text-align: left;
}

/* セルのスタイル */
td, th {
    padding: 0.5rem;
    vertical-align: top;
}

/* 偶数行の背景色 */
tbody tr:nth-child(even) {
    background-color: #f8f9fa;
}

/* 罫線を削除 */
td, th {
    border: none;
}

/* スマートフォン向けの横スクロール */
@media (max-width: 768px) {
    .table-responsive {
        display: block !important;
        width: 100% !important;
        overflow-x: auto !important;
        -webkit-overflow-scrolling: touch !important;
    }
}