{% extends 'base.html' %} {% block content %} {% for message in
get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{ message }}
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
{% endfor%} {% if current_user.is_authenticated %}
<h1>記事作成</h1>
<br />
<div class="sshadow p-3 px-md-15 mb-5 bg-body rounded">
  <form method="POST">
    {{ form.hidden_tag() }}

    {{ form.title.label(class="form-label") }} 
    {{ form.title(class="form-control") }}
    <br />
    {{ form.keyword.label(class="form-label") }} 
    {{ form.keyword(class="form-control") }}
    <br />
    {{ form.content.label(class="form-label") }} 
    {{ form.content(class="form-control", rows="10") }}
    <br />
    <a
      href="#"
      onclick="window.history.back(); return false;"
      class="btn btn-secondary"
      ><< 戻る</a
    >
    {{ form.submit(class="btn btn-success") }}
  </form>
  {{ ckeditor.load(pkg_type="full-all") }} {{ ckeditor.config(name='content') }}
</div>
{% else %}
<h1>ログインしていません！</h1>
<br>
<h5>記事作成ページへアクセスするにはログインする必要があります。</h5>
<p>ログインは<a href="{{ url_for('login') }}">こちら</a>から...</p>
<br>
<p>【 初めて利用される方へ 】</p>
<p>ユーザー登録は<a href="{{ url_for('add_user') }}">こちら</a>からお願いします。</p>

{% endif %} {% endblock %}
