{% extends 'base.html' %} {% block content %} {% for message in
get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {{ message }}
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
{% endfor%} {% if current_user.is_authenticated %}
<h1>記事作成</h1>
<br />
<div class="shadow p-3 mb-5 bg-body-tertiary rounded">
  <form method="POST">
    {{ form.hidden_tag() }}

    {{ form.title.label(class="form-label") }} 
    {{ form.title(class="form-control") }}
    <br />
    {{ form.keyword.label(class="form-label") }} 
    {{ form.keyword(class="form-control") }}
    <br />
    {{ form.content.label(class="form-label") }} 
    {{ form.content(class="form-control", rows="10") }}
    <br />
    <a
      href="#"
      onclick="window.history.back(); return false;"
      class="btn btn-secondary"
      ><< 戻る</a
    >
    {{ form.submit(class="btn btn-success") }}
  </form>
  {{ ckeditor.load(pkg_type="full-all") }} {{ ckeditor.config(name='content') }}
</div>
{% else %}
<h1>ログインしていません！</h1>
<br />
<p>このページへアクセスするにはログインする必要があります</p>
<br />
<a href="{{ url_for('login') }}" class="btn btn-success">Login Here</a>

{% endif %} {% endblock %}
