{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor%}
    
<h2>Dashboard</h2>
<br>
<div class="card">
    <div class="card-header">
        <strong>{{ current_user.name }}</strong> <br>
    </div>
    <div class="card-body">
        <p class="card-text">
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <strong>Username : </strong>{{ current_user.username }} <br>
                        <strong>User Id : </strong>{{ current_user.id }} <br>
                        <strong>Email : </strong>{{ current_user.email }} <br>
                        <strong>Favorite Color : </strong>{{ current_user.favorite_color }} <br>
                        <strong>Date Joined : </strong>{{ current_user.date_added|format_date }} <br>
                    </div>
                    <div class="col-4">
                        <br>
                        <img src="{{ url_for('static', filename='img/default_profile_pic.png') }}" alt="default_profile_pic" width="88" align="right">
                    </div>
                </div>
            </div>
        </p>
        <a href="{{ url_for('logout') }}" class="btn btn-outline-secondary btn-sm">Logout</a>
        <a href="{{ url_for('add_post') }}" class="btn btn-outline-success btn-sm">Create Post</a>
        <a href="{{ url_for('posts', id=current_user.id) }}" class="btn btn-outline-primary btn-sm">All Posts</a>
        <br><br>
    </div>
</div>
<br>
<div class="card">
    <div class="card-header">
        <strong>Update Profile</strong> <br>
    </div>
    <div class="card-body">
        <p class="card-text">
            <form action="/dashboard" method="POST">
                {{ form.hidden_tag() }}
        
                {{ form.name.label(class="form-label") }}
                {{ form.name(class="form-control", value=name_to_update.name) }}
                <br>
                {{ form.username.label(class="form-label") }}
                {{ form.username(class="form-control", value=name_to_update.username) }}
                <br>
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control", value=name_to_update.email) }}
                <br>
                {{ form.favorite_color.label(class="form-label") }}
                {{ form.favorite_color(class="form-control", value=name_to_update.favorite_color) }}
                <br>
                {{ form.update(class="btn btn-success btn-sm") }}
                <a href="{{ url_for('delete', id=current_user.id) }}" class="btn btn-danger btn-sm">Delete</a>
            </form>
        </p>
    </div>
</div>
<br>
<br>
{% endblock %}