<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-bottom">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{url_for('index')}}">
            <img src="{{ url_for('static', filename='img/O透過ロゴ.png') }}" alt="Bootstrap" width="28" height="28">
            Oblog
        </a>
        <a class="link-light link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="https://x.com/Ojizou003" target="_blank">
            ©  おぢぞう  2024
        </a>
    </div>
</nav>