<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{url_for('login')}}">
            <img src="{{ url_for('static', filename='img/O透過ロゴ.png') }}" alt="Bootstrap" width="28" height="28">
            Oblog
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('add_post') }}">記事作成</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('posts') }}">記事一覧</a>
                </li>
                {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('dashboard') }}">ダッシュボード</a>
                    </li>
                    {% if current_user.id == 3 %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('admin') }}">管理者画面</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('logout') }}">ログアウト</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('login') }}">ログイン</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('add_user') }}">ユーザー登録</a>
                    </li>
                {% endif %}
            </ul>
            <form class="d-flex" method="POST" role="search" action="{{ url_for('search') }}">
                {{ form.hidden_tag() }}
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="searched">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>