{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor%}

<div class="shadow p-3 custom-padding-md-10 mb-5 bg-body rounded">
    <h2>{{ post.title }}</h2>
    <small>By : {{ post.poster.username }}</small><br>
    {{ post.date_posted }} <br><br>
    <div class="post-content">
        {{ post.content|safe }} <br><br>
    </div>

<div class="card mb-2">
    <div class="row no-gutters">
        <div class="col-md-2">
            {% if post.poster and post.poster.profile_pic %}
                <img src="{{ url_for('static', filename='img/' + post.poster.profile_pic) }}" alt="poster_profile_pic" width="120" align="left">
            {% else %}
                <img src="{{ url_for('static', filename='img/default_profile_pic.png') }}" alt="default_profile_pic" width="120" align="left">
            {% endif %}
        </div>
        <div class="col-md-10">
            <div class="card-body">
                <h6 class="card-title">
                    著者 : {{ post.poster.username }}
                </h6>
                <p class="card-text">
                    {% if post.poster.about_author %}
                        {{ post.poster.about_author }}<br><br>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
</div>

</div>

{% if post.poster_id == current_user.id or current_user.id == 3 %}
<a href="{{ url_for('edit_post', id=post.id) }}" class="btn btn-outline-success btn-sm">編集</a>

<a href="{{ url_for('delete_post', id=post.id) }}" class="btn btn-outline-danger btn-sm">削除</a>
{% endif %}

<a href="{{ url_for('posts') }}" class="btn btn-outline-primary btn-sm">記事一覧</a>
<br><br>
<a href="#" onclick="window.history.back(); return false;" class="btn btn-outline-secondary  btn-sm"><< 戻る</a>

{% endblock %}