{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <h1 class="mb-4">個人情報保護方針</h1>
        
        <section class="mb-4">
            <h2>1. 個人情報の収集</h2>
            <p>当サイトでは、以下の場合に個人情報を収集する場合があります。</p>
            <ul>
                <li>ユーザー登録時</li>
                <li>お問い合わせ時</li>
            </ul>
        </section>

        <section class="mb-4">
            <h2>2. 個人情報の利用目的</h2>
            <p>収集した個人情報は、以下の目的で利用します。</p>
            <ul>
                <li>サービスの提供および改善</li>
                <li>ユーザーサポート</li>
            </ul>
        </section>

        <section class="mb-4">
            <h2>3. 個人情報の第三者提供</h2>
            <p>法令に基づく場合を除き、収集した個人情報を第三者に提供することはありません。</p>
        </section>

        <section class="mb-4">
            <h2>4. セキュリティ対策</h2>
            <p>個人情報の漏洩、紛失、改ざんを防ぐため、適切なセキュリティ対策を講じています。</p>
        </section>

        </section>

        <section class="mb-4">
            <h2>5. 個人情報保護方針の変更</h2>
            <p>本方針の内容は、法令変更や事業内容の変更に応じて、予告なく変更される場合があります。</p>
        </section>

        <section class="mb-4">
            <h2>6. お問い合わせ</h2>
            <p>本方針またはその他本サイトに関するお問い合わせは、以下の連絡先までご連絡ください：</p>
            <p>Oblog運営管理人: <a  class="link-light link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="https://x.com/Ojizou003">おぢぞう</a></p>
        </section>
    </div>
{% endblock %}